classy_vision==0.7.0
einops==0.8.0
emmet==2018.6.7
h5py==3.9.0
ignite==1.1.0
joblib==1.2.0
matplotlib==3.8.4
mp_api==0.41.2
numpy==1.23.5
pandarallel==1.6.5
pandas==2.2.2
periodictable==1.7.0
pydantic==1.10.9
PyYAML==6.0
PyYAML==6.0.1
scikit_learn==1.2.2
scipy==1.10.1
sympy==1.12
tensorboard_logger==0.1.0
torch==1.13.1+cu116
torch_geometric==2.3.0
torch_scatter==2.1.0+pt113cu116
torch_sparse==0.6.17+pt113cu116
tqdm==4.65.0
umap==0.1.1
wandb==0.15.4
